<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scau.db.bookmanagement.mapper.BookCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.scau.db.bookmanagement.entity.BookCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="isbn_count" property="isbnCount" />
        <result column="book_count" property="bookCount" />
        <result column="create_by" property="createBy" />
        <result column="modify_by" property="modifyBy" />
    </resultMap>

</mapper>
